<ion-content>
  <div class="profile-container">
    <div class="header">
      <div class="title-container">
        <div>Schools</div>
      </div>
      <div class="btn-container">
      <ion-button (click)="addNewSchool()" fill="clear" fill="clear"
        ><div class="plus-container"><span>+</span></div><p>Add New School</p></ion-button
      >
      </div>
    </div>
    <div class="table-container">
      <div class="border-table">
      <div class="head-container">
        <!-- <div class="table-head-wrap"> -->
        <!-- <div class="table-head"> -->
          
        <span class="s-no">S.no</span>
        <span class="school-name"><div class="special">School Name</div></span>
        <span class="buses"><div class="special2">No of Buses</div></span>
        <span class="location">Location</span>
        <span class="status">Status</span>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class="table-card">
        <div>
          <div class="table-row" *ngFor="let s of schools; let i = index">
            <span class="s.no-c">{{ i + 1 }}</span>
            <span class="school-name-c">{{ s.name }}</span>
            <span class="buses-c"
              ><div class="special3">{{ s.buses }}</div></span
            >
            <span class="location-c">{{ s.location }}</span>
            <span class="active">{{ s.status }}</span>
            <span>
            <p class="view" [routerLink]="['/admin/schools/school-detail']"
              >View ››</p
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
