<ion-content>
  <div class="profile-container">
    <div class="header">
      <div class="title-container">
        <div>Billing & Payments</div>
      </div>
      <div class="search-box">
        <img src="assets/img/search.png" alt="" />
        <ion-input placeholder="Search"></ion-input>
      </div>
      <ion-button (click)="addNewSchool()" fill="clear" fill="clear"
        ><span><p>+</p></span>Generate Bills</ion-button
      >
    </div>
    <div class="table-container">
      <div class="border-table">
      <div class="head-container">
        <!-- <div class="table-head-wrap">
          <div class="table-head"> -->
            <span class="s-no">S.no</span>
            <span class="school-name"
              >Students<br />&nbsp;&nbsp;&nbsp;Name</span
            >
            <span class="school">School</span>
            <span class="buses">Billing<br/>Month</span>
            <span class="total-Bill">Total Bill</span>
            <span class="paid-amount">Paid Amount</span>
            <span class="outstanding">Outstanding</span>
            <span class="status">Status</span>
          <!-- </div>
        </div> -->
      </div>
      </div>

      <div class="table-card">
        <div>
          <div class="table-row" *ngFor="let s of pagedData; let i = index">
            <!-- <span class="c-no">{{ i + 1 }}</span> -->
            <span class="c-no">{{ (currentPage-1)*itemsPerPage + i + 1 }}</span>
            <span class="student-name">{{ s.name }}</span>
            <span class="school-N">{{ s.school }}</span>
            <span class="billing-M">{{ s.buses }}</span>
            <span class="t-bill">{{s.route}}</span>
            <span class="paid2-amount">{{ s.outstandingAdvance }}</span>
            <span class="outstanding-amount">{{ s.outstandingAdvance }}</span>
            <span class="active">{{ s.status }}</span>
            <p
              class="view"
              [routerLink]="['/admin/billings-and-payments/bill-profile']"
              >View ››</p
            >
          </div>
        </div>
      </div>

      <select (change)="changePageSize($event)">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <ion-icon class="down" name="chevron-down-outline"></ion-icon>

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage===1">
          Prev
        </button>

        <span>{{currentPage}} / {{totalPages}}</span>

        <button
          class="next-btn"
          (click)="nextPage()"
          [disabled]="currentPage===totalPages"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</ion-content>
