ion-content {
  --padding-start: 100px;
  --padding-end: 100px;
  width: 100%;
  --background: #0f172a;
}
.title-container {
  position: relative;
  top: 20px;
  right: 75px;
  width: 190px;
  height: 45px;
  border-radius: 8px;
  padding: 5px;
  padding-right: 8px;

  background-color: #b3cbf9;
  div {
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    top: 10px;
    left: 16px;
    font-style: 16px;
  }
  ion-icon {
    position: relative;
    right: 10px;
  }
}
ion-card {
  // border: 2px solid black;
  width: 880px;
  height: 500px;
  position: relative;
  top: 98px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}
.profile-container {
  background: #f2f2f2;
  width: 910px;
  min-height:  1000px;
  position: relative;
  top: 10px;

  right: 100px;
  border-radius: 14px;
  padding-left: 100px;
}

ion-button {
  position: relative;
  left: 650px;
  bottom: 75px;
  width: 150px;
  height: 44px;
  border-radius: 10px;
  text-transform: none;
  background-color: #b3cbf933;
  color: #0f172a;
  border: 1px dashed #4f8cff;
  white-space: nowrap;
  span {
    border: 2px solid black;
    width: 19px;
    height: 19px;
    font-size: 20px;
    position: relative;
    right: 9px;
    color: #0f172a;
    border-radius: 3px;
    p {
      position: relative;
      bottom: 2px;
    }
  }
}

.table-head-wrap {
  padding: 0 10px;
  position: relative;
  right: 70px;
}
.s-no {
  position: relative;
  right: -5px;
}
.school-name {
  position: relative;
  left: 14px;
}
.school {
  position: relative;
  left: 20px;
}
.buses {
  position: relative;
  left: 32px;
}
.total-Bill {
  position: relative;
  left: 55px;
}
.outstanding{
  position: relative;
  left: 35px;
}
.paid-amount {
  position: relative;
  left: 50px;
}
.status {
  position: relative;
  left: 10px;
}
.table-container {
  width: 890px;
  height: 610px;
  padding: 10px;
  border-radius: 12px;

  position: relative;
  right: 86px;

  border: 1px solid #ffffff;
}
.head-container {
  width: 870px;
  border-radius: 12px;
  height: 60px;

  border: 1px solid #ffffff;
}
.table-head {
  // display: grid;
  // grid-template-columns: 60px 1.5fr 80px 1fr 100px 80px;
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: #0f172a;
  position: relative;
  left: 20px;
  white-space: wrap;
}

/* CARD */
.table-card {
  background-color: #ffffff;
  margin: 8px 16px 4px;
  width: 870px;

  position: relative;
  top: 5px;
  right: 18px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 12px;
}

/* ROWS */
.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 16px;
  border-bottom: 1px solid #f5f2f2;
  font-family: "Space Grotesk", sans-serif;
}

.active {
  position: relative;
  left: 20px;
}

.view {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}
.student-name {
  position: relative;
  left: 20px;
  
}
.billing-M {
  position: relative;
  left: 40px;
}
.t-bill {
  position: relative;
  left: 30px;
}
.c-no {
  width: 20px;
  position: relative;
  left: -1px;
  display: flex;
  justify-content: center;
}
.paid2-amount {
  position: relative;
  left: 30px;
}
.outstanding-amount{
  position: relative;
  left: 30px;
}
.school-N {
  position: relative;
  left: 34px;
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px dashed #4f8cff;
  background-color: #b3cbf933;
  width: 205px;
  height: 44px;
  // color: #0f172a;
  border-radius: 8px;
  padding: 8px 12px;
  width: 150px;

  position: relative;
  left: 490px;
  bottom: 31px;
  input {
    background-color: #b3cbf933;
  }
  ion-icon {
    transform: scale(1.4);
    color: #000000;
  }
  ion-input {
    position: relative;
    left: 10px;
    font-size: 18px;
    color: #0f172a;
  }
}

// .search-box .icon {
//   margin-right: 8px;
//   font-size: 16px;
//   background-color: #b3cbf933;
// }

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

// .table-container{
//   background: white;
//   border-radius: 10px;
//   padding: 10px;
// }

// table{
//   width: 100%;
//   border-collapse: collapse;
// }

// th,td{
//   padding: 10px;
//   text-align: left;
//   border-bottom: 1px solid #eee;
// }

// .pagination{
//   display: flex;
//   align-items: center;
//   gap: 15px;
//   margin-top: 10px;
// }

// button{
//   padding: 6px 14px;
//   border-radius: 6px;
//   border: 1px solid #4a7cff;
//   background: white;
//   color: #4a7cff;
// }
// .dropdown{
//   position: relative;
//   right: 60px;
//   top: 5px;
// }

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 14px;
}

th {
  color: #666;
}

.status {
  color: green;
  font-weight: 500;
}

.view {
  color: #3b82f6;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  position: relative;
  left: 22px;
  bottom: 85px;
  span {
    position: relative;
    right: 18px;
    top: 10px;
    font-weight: 400;
  }
  span:active {
    font-weight: 900; /* bold */
  }
}

button {
  padding: 6px 14px;
  width: 72px;
  height: 39px;
  border: 1px solid #4f8cff;
  background: #f8fafc;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  right: 20px;
  
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background: #93c5fd66;
  color: #ffffff;
  backdrop-filter: blur(144px);
  -webkit-backdrop-filter: blur(144px);
}

// select {
//   position: relative;
//   top: 17px;

//   text-align: center;
//   border: none;
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   background: none;

//   option{
//       width: 72px;
//   height: 39px;
//   background: #ffffff;
//   cursor: pointer;
//   }
// }
select {
  --background: #ffffff;
  border: none;
  border-radius: 8px;
  width: 72px;
  height: 39px;
  margin-top: 10px;
  margin-bottom: 19px;
  font-size: 16px;

  display: flex;
  align-items: center; // vertical center
  justify-content: center; // horizontal center
  // text-align: center;
  padding-left: 15px;
  font-weight: 500;
  

  cursor: pointer;
  font-weight: 400;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 13px;
  right: 2px;
}
ion-icon {
  transform: scale(1.2);
  position: relative;

  left: 35px;
  bottom: 35px;
}
