ion-content {
  --background: #0f172a;
}
.title-container {
  position: relative;
  top: 20px;
  right: 90px;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
  padding-right: 8px;

  background-color: #b3cbf9;
  cursor: pointer;
  div {
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    top: 2px;
    left: 19px;

    font-size: 17px;

    ion-icon {
      height: 24px;
      width: 24px;
      position: relative;
      top: 4px;
      right: 8px;
    }
  }
}
.add-new-bus-container {
  background: #f2f2f2;
  width: 910px;
  height: 2650px;

  // min-height: 100%; /* container content के हिसाब से बढ़ेगा */
  // height: auto;
  position: relative;
  top: 10px;
  left: 0px;
  bottom: 10px;

  right: 10px;
  border-radius: 14px;
  padding-left: 100px;
  overflow-x: hidden;
  // overflow-y: hidden;
  margin-bottom: 10px;
}
// .add-new-bus-container {
//   background: #f2f2f2;
//   width: 910px;

//   min-height: 190vh;   /* screen height */
//   height: auto;

//   border-radius: 14px;
//   padding-left: 100px;

//   overflow-x: hidden;
// }
.align-right-field {
  position: relative;
  left: 40px;
}

ion-card {
  // border: 2px solid black;
  width: 880px;
  height: 550px;
  position: relative;
  top: 100px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 50px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}
.add-new-bus-container ion-input {
  background: #f5f6f8;
  border-radius: 8px;
  padding: 12px 14px;
  width: 372px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 19px;
  line-height: 150%;
  font-size: 16px;
  color: #333;
  --placeholder-color: #0f172abf;
  --padding-start: 25px;
  font-family: "Space Grotesk", sans-serif;

  ion-select::part(icon) {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  --highlight-height: 0; /* red underline remove */
  --border-width: 0;
}
.first-btn {
  ion-button {
    height: 52px;
    width: 790px;
    border-radius: 12px;
    position: relative;
    left: 13px;
    top: 70px;
    text-transform: none;
    background-color: #4f8cff;
    color: #ffffff;

    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: -300; /* Regular */
    line-height: 145%; /* 18px × 1.45 = ~26px */
    letter-spacing: 0px;
    text-align: center;
  }
}

.header-container {
  border-bottom: 1px solid #e5e3dc;
  position: relative;
  top: -8px;
  h2 {
    color: #1f1f1f;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 0%;
  }
}
// .input {
//   background: #f5f6f8;
//   border-radius: 8px;
//   padding: 12px 14px;
//   width: 372px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 19px;
//   line-height: 150%;
//   font-size: 16px;
//   color: #333;
//   --placeholder-color: #aaa;

//   ion-select::part(icon) {
//     display: none;
//   }

// }

.input {
  background: #f5f6f8;
  border-radius: 8px;
  width: 372px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 19px;
  font-size: 16px;

  display: flex;
  align-items: center; // vertical center
  justify-content: center; // horizontal center
  text-align: center;

  ion-icon {
    height: 24px;
    width: 24px;
    position: relative;

    right: 16px;
    top: 2px;
  }

  ion-select {
    width: 100%;
    text-align: center;
    --highlight-height: 0;
    --border-width: 0;
    --border-style: none;
  }

  ion-select::part(text) {
    text-align: center;
    width: 100%;
  }
  ion-select {
    padding-left: 25px;
    --placeholder-color: #0f172abf;
  }

  ion-select::part(icon) {
    display: none;
  }
}
.input[type="file"] {
  display: none;
}

.upload-container {
  width: 30%;
}

.upload-label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  display: block;
  margin-bottom: 6px;
  margin-top: 2px;
}

.upload-box {
  background: #f8fafc;
  border-radius: 8px;
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.file-pill {
  display: inline-block;
  background: #b3cbf9;
  color: #0f172a;
  width: 160px;
  height: 35px;
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  gap: 6px;
  margin-left: 1px;
}
.file-name {
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left: -3px;
}

.file-pill ion-icon {
  transform: scale(1.7);
  width: 16.666664123535156px;
  height: 16.666664123535156;
  position: relative;
  left: 5px;
  margin-right: 7px;
  cursor: pointer;
}

.upload-icon ion-icon {
  font-size: 20px;
  color: #888;
  position: absolute;
  left: 335px;
  bottom: 35px;
}

.input-count {
  ion-input {
    background: #ffffff;
    border-radius: 8px;
    width: 368px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 19px;
    font-size: 16px;
    border: 1px solid #c7c9cc;
  }
}

.billing-breakdown {
  width: 880px;
  height: 350px;
  position: relative;
  top: 160px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}

.payment-recording {
  width: 880px;
  height: 850px;
  position: relative;
  top: 220px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}
.btn-row {
  margin-top: 20px;
}

.payment-history {
  width: 880px;
  height: 350px;
  position: relative;
  top: 280px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}
.table-head-wrap {
  padding: 0 10px;
  position: relative;
  right: 70px;
}
.table-head {
  // display: grid;
  // grid-template-columns: 60px 1.5fr 80px 1fr 100px 80px;
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  font-weight: 500;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  width: 500px;
  color: #0f172a;
  position: relative;
  left: 40px;
}
.head-container {
  width: 793px;
  border-radius: 12px;
  position: relative;
  top: 20px;
  right: 2px;

  border: 1px solid #ffffff;
}
.date {
  position: relative;
  left: 3px;
}
.category {
  position: relative;
  left: 90px;
}
.amount2 {
  position: relative;
  left: 150px;
}
.paid {
  position: relative;
  left: 215px;
}
.invoice {
  position: relative;
  left: 340px;
}
.table-profit-container {
  width: 810px;

  padding: 10px;
  border-radius: 12px;

  position: relative;
  left: 5px;
  bottom: 20px;

  background-color: #f8fafc;
}

// .btn {
//   position: relative;
//   left: 610px;
//   bottom: 35px;
//   width: 187px;
//   height: 44px;
//   border-radius: 10px;
//   text-transform: none;
//   background-color: #b3cbf933;
//   color: #0f172a;
//   border: 1px dashed #4f8cff;
//   span {
//     border: 1px solid black;
//     width: 21px;
//     height: 21px;
//     font-size: 20px;
//     position: relative;
//     right: 12px;
//     color: #0f172a;
//   }
// }

.date2 {
  // border: 1px solid black;
  width: 90px;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 50px;
}
.reason {
  // border: 1px solid black;
  width: 90px;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 50px;
}
.amount {
  // border: 1px solid black;
  width: 90px;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 80px;
}
.status {
  // border: 1px solid black;
  width: 90px;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 90px;
}
.table-card {
  background-color: #ffffff;
  margin: 8px 16px 4px;
  width: 796px;

  position: relative;
  top: 5px;
  left: -18px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 12px;
}

/* ROWS */
.table-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 145%;

  letter-spacing: 0%;
  padding: 12px 0;
  font-size: 16px;
  border-bottom: 1px solid #f5f2f2;
}

.due-and-reminder-managment {
  width: 880px;
  height: 350px;
  position: relative;
  top: 330px;
  right: 80px;

  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}

.recored-btn {
  ion-button {
    height: 52px;
    width: 390px;
    border-radius: 12px;
    position: relative;
    left: 25px;
    top: 20px;
    text-transform: none;
    background-color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: -300; /* Regular */
    line-height: 145%; /* 18px × 1.45 = ~26px */
    letter-spacing: 0px;
    text-align: center;
    color: #ff3b30;
    border: 1px solid #ff3b30;
  }
}
.recored-btn2 {
  ion-button {
    height: 53px;
    width: 390px;
    border-radius: 12px;
    position: relative;
    left: 13px;
    top: 20px;
    text-transform: none;
    background-color: #4f8cff;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400; /* Regular */
    line-height: 145%; /* 18px × 1.45 = ~26px */
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
  }
}
.dRM-btn {
  height: 52px;
  width: 390px;
  border-radius: 12px;
  position: relative;
  left: 16px;
  top: 40px;
  text-transform: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: -300; /* Regular */
  line-height: 145%; /* 18px × 1.45 = ~26px */
  letter-spacing: 0px;
  text-align: center;
  color: #4f8cff;
  border: 1px solid #4f8cff;
}
.dRM-btn2 {
  height: 53px;
  width: 390px;
  border-radius: 12px;
  position: relative;
  left: 11px;
  top: 40px;
  text-transform: none;
  background-color: #4f8cff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.after-record {
  width: 880px;
  height: 850px;
  position: relative;
  top: 220px;
  right: 80px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}
.add-new-recored-btn {
  ion-button {
    height: 52px;
    width: 790px;
    border-radius: 12px;
    position: relative;
    left: 13px;
    top: 70px;
    text-transform: none;
    background-color: #4f8cff;
    color: #ffffff;

    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400; /* Regular */
    line-height: 145%; /* 18px × 1.45 = ~26px */
    letter-spacing: 0px;
    text-align: center;
  }
}

.button {
  position: absolute;
  top: 12px;

  ion-button {
    position: relative;
    top: -20px;
    left: 508px;
    bottom: 400px;
    width: 168px;
    height: 38px;

    border-radius: 10px;
    text-transform: none;
    background-color: #ffffff;
    color: #4f8cff;
    border: 1px dashed #4f8cff;
    white-space: nowrap;
    div {
      font-family: "Space Grotesk", sans-serif;
      position: relative;
      right: 10px;
      font-size: 18px;
      margin-left: 5px;
    }
    img {
      color: #4f8cff;
    }
    .plus {
      width: 21px;
      height: 21px;
      transform: scale(2);
      width: 14px;
      height: 15px;
      position: relative;

      left: 3px;
      bottom: 2px;
      color: #4f8cff;
    }
  }
}
.button2 {
  position: absolute;
  top: 12px;

  ion-button {
    position: relative;
    top: -20px;
    left: 680px;
    bottom: 400px;
    width: 168px;
    height: 38px;

    border-radius: 10px;
    text-transform: none;
    background-color: #ffffff;
    color: #4f8cff;
    border: 1px dashed #4f8cff;
    white-space: nowrap;
    div {
      font-family: "Space Grotesk", sans-serif;
      position: relative;
      right: 10px;
      font-size: 18px;
      margin-left: 5px;
    }
    img {
      color: #4f8cff;
    }
    .plus {
      width: 21px;
      height: 21px;
      transform: scale(2);
      width: 14px;
      height: 15px;
      position: relative;

      left: 3px;
      bottom: 2px;
      color: #4f8cff;
    }
  }
}
