ion-content{
  --background: #0F172A;
  width:100vw;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}
.profile-container {
  background: #f2f2f2;
  // width: 1250px;
  // height: 880px;
  width: 100vw; /* screen width ke hisab se */
  height: 100vh;
//  width:95%;
//   max-width:1400px;

//   height:90vh;
  // width: 95vw;     
  // height: 95vh;
  position: relative;
  top: 10px;
  left: 12px;
  overflow: hidden;

  right: 2px;
  border-radius: 14px;
  padding-left: 100px;
  z-index: 9999;

  /* sidebar se upar */
}
.icon-container {
  height: 600px;
  width: 500px;
  position: relative;
  top: 156px;
  left: -5px;
}

.login-bg {
  --background: #e9e9e9;
  width: 50%;
}

.login-container {
  padding: 30px 20px;
  width: 400px;
  position: relative;
  left: 700px;
  bottom: 500px;
}

.company {
  text-align: center;
  font-size: 14px;
  color: #444;
  margin-top: 40px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.input-box {
  --background: #ffffff;
  border-radius: 12px;
  padding-left: 10px;
}

ion-icon {
  font-size: 20px;
  cursor: pointer;
}

.forgot {
  font-size: 13px;
  color: #5a6b7c;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn {
  margin-top: 30px;
  --border-radius: 12px;
  --background: #375677;
}

small {
  color: red;
  margin-left: 5px;
}
// @media (min-width: 2000px) {

// .profile-container{
//   width: 1700px;
//   height: 1000px;
// }

// .login-container{
//   left: 950px;
// }

// .icon-container{
//   width: 650px;
//   left: 80px;
// }

// }

// @media (min-width: 2560px) {

// .profile-container{
//   width: 2000px;
//   height: 1100px;
// }

// .login-container{
//   left: 1150px;
// }

// .icon-container{
//   width: 750px;
//   left: 120px;
// }

// }



// @media (max-width: 1440px) {
//   .profile-container {
//     width: 1180px;
//   }

//   .login-container {
//     left: 640px;
//   }

//   .icon-container {
//     width: 460px;
//   }
// }

// @media (max-width: 1280px) {
//   .profile-container {
//     width: 1050px;
//     height: 850px;
//   }

//   .login-container {
//     left: 560px;
//     bottom: 470px;
//   }

//   .icon-container {
//     width: 420px;
//   }
// }
// @media (max-width: 1024px) {
//   .profile-container {
//     width: 920px;
//     padding-left: 50px;
//   }

//   .login-container {
//     left: 470px;
//     bottom: 460px;
//   }

//   .icon-container {
//     width: 380px;
//   }
// }


// /* Small Desktop */
// @media (max-width: 1280px){

// .profile-container{
// width: 1050px;
// }

// .login-container{
// left:560px;
// }

// }

/* Normal Laptop */
// @media (min-width:1281px) and (max-width:1600px){

// .profile-container{
// width:1200px;
// }

// .login-container{
// left:650px;
// }

// }

/* Large Desktop */
// @media (min-width:1601px) and (max-width:1920px){

// .profile-container{
// width:1400px;
// }

// .login-container{
// left:780px;
// }

// }

/* Full HD Monitor */
@media (min-width:1921px){

.profile-container{
width:1700px;
}

.login-container{
left:950px;
}

}