<ion-content mode="ios">
  <div class="root-container">
  <div class="add-new-bus-container">
    <div class="title-container">
      <div><ion-icon name="chevron-back-outline"></ion-icon>Bus</div>
    </div>
    <ion-card class="bus-details">
      <div class="status-container">
        <!-- <ion-toggle color="success" [(ngModel)]="isActive"></ion-toggle> -->
        <!-- <ion-toggle color="success" [(ngModel)]="isActive"
          ><span>Active</span></ion-toggle
        > -->
      </div>
      <form [formGroup]="busForm">
        <div class="header-container">
          <h2>Bus Details</h2>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Bus Registration -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Bus Registration Number</label>
              <ion-input
                formControlName="busRegistrationNumber"
                placeholder="Eg: TN48C238"
              >
              </ion-input>
            </ion-col>

            <!-- Seating Capacity -->
            <ion-col class="align-right-field" class="align-field" size="12" size-md="6">
              <label>Seating Capacity</label>
              <ion-input
                formControlName="seatingCapacity"
                type="number"
                placeholder="Eg: 32"
              >
              </ion-input>
            </ion-col>

            <!-- Fuel Type -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Fuel Type</label>

              <div class="input">
                <ion-select
                  formControlName="fuelType"
                  placeholder="Eg:Petrol,Diesal..."
                >
                  <ion-select-option
                    *ngFor="let fuel of fuelTypes"
                    [value]="fuel"
                  >
                    {{fuel}}
                  </ion-select-option>
                </ion-select>
                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>
            </ion-col>

            <!-- Assign School -->
            <ion-col  class="align-field" size="12" size-md="6">
              <label> Assign School </label>

              <div class="input">
                <ion-select
                  formControlName="assignSchool"
                  placeholder="Eg: SRV, ARLM..."
                >
                  <ion-select-option
                    *ngFor="let school of schools"
                    [value]="school"
                  >
                    {{school}}
                  </ion-select-option>
                </ion-select>
                <ion-icon name="add-circle-outline"></ion-icon>
              </div>
            </ion-col>

            <!-- Route -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Route</label>
              <ion-input formControlName="route" placeholder="Eg: Triplicane">
              </ion-input>
            </ion-col>

            <!-- Service Start Date -->
            <ion-col class="align-field" size="12" size-md="6">
              <label>Service Start Date</label>

              <ion-input formControlName="serviceStartDate" type="date">
              </ion-input>
            </ion-col>

            <ion-col class="align-right-field" size="6">
              <div class="input-count">
                <ion-label position="stacked">Active Students</ion-label>
                <ion-input type="number" formControlName="activeStudents">
                </ion-input>
              </div>
            </ion-col>

            <ion-col class="align-field" size="6">
              <div class="input-count">
                <ion-label position="stacked">Monthly Revenue</ion-label>
                <ion-input type="number" formControlName="monthlyRevenue">
                </ion-input>
              </div>
            </ion-col>

            <ion-col class="align-right-field" size="6">
              <div class="input-count">
                <ion-label position="stacked">Monthly Expenses</ion-label>
                <ion-input type="number" formControlName="monthlyExpenses">
                </ion-input>
              </div>
            </ion-col>

            <ion-col class="align-field" size="6">
              <div class="input-count">
                <ion-label position="stacked">Net Profit</ion-label>
                <ion-input type="number" formControlName="netProfit">
                </ion-input>
              </div>
            </ion-col>

            <ion-col class="align-right-field" size="12">
              <div class="upload-container">
                <label class="upload-label">Upload Invoice</label>

                <div class="upload-box">
                  <!-- Hidden File Input -->
                  <input
                    type="file"
                    #fileInput
                    hidden
                    (change)="onFileSelected($event)"
                    formControlName="uploadInvoice"
                  />

                  <!-- Left Side File Name -->
                  <div
                    class="file-pill"
                    *ngIf="selectedFile"
                    (click)="fileInput.click()"
                  >
                    <div class="file-name">{{ selectedFile.name }}</div>
                    <ion-icon
                      name="close-circle-outline"
                      (click)="removeFile($event)"
                    ></ion-icon>
                  </div>

                  <!-- Right Side Add Icon -->
                  <div class="upload-icon" (click)="fileInput.click()">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Confirm Button -->
        <div class="confirm-btn">
          <ion-button expand="block" fill="clear" (click)="submitForm()">
            Confirm
          </ion-button>
        </div>
      </form>
    </ion-card>
    <br />

    <ion-card class="All-list">
      <div class="header">
        <div class="header-container">
          <h2>Revenue Tracking</h2>
        </div>
      </div>

      <div class="table-container">
        <div class="head-container">
          <div class="table-head-wrap">
            <div class="table-head">
              <span class="year">Year</span>
              <span class="month">Month</span>
              <span class="amount">Amount</span>
              <span class="type">Revenue Type</span>
            </div>
          </div>
        </div>

        <div class="table-card">
          <div class="table-row" *ngFor="let r of revenues">
            <span class="content-year">{{ r.year }}</span>
            <span class="content-month"
              ><div class="table-content">{{ r.month }}</div>
            </span>

            <span class="content-amount">{{r.amount}}</span>

            <span class="content-type">{{ r.type }}</span>
          </div>
        </div>
      </div>
    </ion-card>

    <div class="expense-container">
      <div class="header">
        <div class="expense-header-container">
          <h2>Expense Management</h2>
        </div>
        <div class="button">
          <ion-button (click)="addNewSchool()" fill="clear">
            <div>Add New Bus</div> <ion-icon class="plus" name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="table-expense-container">
        <div class="head-container">
          <div class="table-head-wrap">
            <div class="table-head">
              <span class="date">Date</span>
              <span class="category">Category</span>
              <span class="amount2">Amount</span>
              <span class="paid">Paid By</span>
              <span class="invoice">Invoice</span>
            </div>
          </div>
        </div>

        <div class="table-card">
          <div class="table-row" *ngFor="let e of expenses">
            <span>{{ e.date }}</span>
            <span>{{ e.category }}</span>
            <span>{{ e.amount }}</span>
            <span>{{ e.paidBy }}</span>
            <span class="view">View 👁</span>
          </div>
        </div>
      </div>
    </div>

    <ion-card class="profitability-summary-container">
      <div class="header">
        <div class="profitability-header-container">
          <h2>Profitability Summary</h2>
        </div>
      </div>

      <div class="table-profitability-container">
        <div class="head-container">
          <div class="table-head-wrap">
            <div class="table-head">
              <span class="month2">Month</span>
              <span class="total-revenue">Total Revenue</span>
              <span class="total-Expenses">Total Expenses</span>
              <span class="net-profit">Net Profit</span>
              <span class="status">Status</span>
            </div>
          </div>
        </div>

        <div class="table-card">
          <div *ngFor="let p of profits">
            <div class="profitability-content-container">
              <span> <div class="table-month">{{ p.month }}</div></span>
              <span class="total-revenue-content"
                ><div class="table-month">{{ p.totalRevenue }}</div></span
              >
              <span class="total-Expenses-content"
                ><div class="ttable-month">{{ p.totalExpenses }}</div></span
              >
              <span class="net-profit-content"
                ><div class="table-month">{{ p.netProfit }}</div></span
              >
              <span
                class="status-content"
                [ngClass]="p.status === 'Profit' ? 'profit' : 'loss'"
              >
                <div class="table-month">{{ p.status }}</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
  </div>
</ion-content>
