<ion-content>
  <div class="add-advance-container">
    <div class="title-container">
      <div routerLink="/admin/bus">
        <ion-icon name="chevron-back-outline"></ion-icon>Add Expenese
      </div>
    </div>
    <ion-card>
      <form [formGroup]="addExpense">
        <div class="header-container">
          <h2>Add Expenese</h2>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Bus Registration -->
            <ion-col size="12" size-md="6">
              <label
                >Expense Category
                <ion-text
                  color="danger"
                  *ngIf="addExpense.get('expenseCategory')?.touched && addExpense.get('expenseCategory')?.invalid"
                >
                  Category is required
                </ion-text>
              </label>

              <div class="input">
                <ion-select
                  formControlName="expenseCategory"
                  placeholder="Eg:Fual,Maintenance..."
                >
                  <ion-select-option
                    *ngFor="let fuel of fuelTypes"
                    [value]="fuel"
                  >
                    {{fuel}}
                  </ion-select-option>
                </ion-select>
                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>
            </ion-col>

            <!-- Seating Capacity -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label
                >Expense Date
                <ion-text
                  color="danger"
                  *ngIf="addExpense.get('expenseDate')?.touched && addExpense.get('expenseDate')?.invalid"
                >
                  Date is required
                </ion-text>
              </label>
              <ion-input
                formControlName="expenseDate"
                type="data"
                placeholder="Eg: 30/12/2025"
              >
              </ion-input>
            </ion-col>

            <!-- Fuel Type -->
            <ion-col size="12" size-md="6">
              <label
                >Amount
                <ion-text
                  color="danger"
                  *ngIf="addExpense.get('amount')?.touched && addExpense.get('amount')?.invalid"
                >
                  Amount is required
                </ion-text>
              </label>
              <ion-input formControlName="amount" placeholder="Eg: $ 45.00">
              </ion-input>
            </ion-col>

            <!-- Assign School -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label
                >Paid by
                <ion-text
                  color="danger"
                  *ngIf="addExpense.get('paidBy')?.touched && addExpense.get('paidBy')?.invalid"
                >
                  Paid By is required
                </ion-text>
              </label>

              <div class="input">
                <ion-select formControlName="paidBy" placeholder="Eg:vender...">
                  <ion-select-option
                    *ngFor="let fuel of fuelTypes"
                    [value]="fuel"
                  >
                    {{fuel}}
                  </ion-select-option>
                </ion-select>
                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>
            </ion-col>

            <!-- Route -->
            <ion-col size="12" size-md="6">
              <!-- <label> Upload Invoice </label>

              <div>
                <ion-input
                  class="input"
                  formControlName="uploadInvoice"
                  type="file"
                  #fileInputhidden
                >
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-input>
              </div> -->

              <div class="upload-container">
                <label class="upload-label"
                  >Upload Invoice

                  <ion-text
                    color="danger"
                    *ngIf="addExpense.get('uploadInvoice')?.touched && addExpense.get('uploadInvoice')?.invalid"
                  >
                    Invoice is required
                  </ion-text>
                </label>

                <div class="upload-box">
                  <!-- Hidden File Input -->
                  <input
                    type="file"
                    #fileInput
                    hidden
                    (change)="onFileSelected($event)"
                    formControlName="uploadInvoice"
                  />

                  <!-- Left Side File Name -->
                  <div
                    color="file-pill"
                    *ngIf="selectedFile"
                    (click)="fileInput.click()"
                  >
                    <div class="file-name">{{ selectedFile.name }}</div>
                    <ion-icon
                      name="close-circle-outline"
                      (click)="removeFile($event)"
                    ></ion-icon>
                  </div>

                  <!-- Right Side Add Icon -->
                  <div class="upload-icon" (click)="fileInput.click()">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </ion-col>

            <!-- Service Start Date -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Notes [Optional]</label>
              <ion-input
                formControlName="notesOptional"
                placeholder="Eg: New Tyre has been changed"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Confirm Button -->
        <ion-button
          fill="clear"
          [disabled]="addExpense.invalid"
          class="confirm-btn"
          (click)="submitForm()"
        >
          Save
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
