<ion-content class="profile-bg">
  <div class="top-header">
    <div class="profile-container">
      <div class="title-container">
        <div>My profile</div>
      </div>
      <ion-card class="local-information">
        <h2 class="form-head">Local Information</h2>

        <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
          <ion-grid>
            <ion-row>
              <!-- LEFT COLUMN -->
              <ion-col size="6">
                <ion-list lines="none">
                  <!-- Name -->

                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Name
                      <span
                        class="danger"
                        *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.errors"
                        >*</span
                      >
                    </ion-label>
                    <ion-input formControlName="name"></ion-input>
                  </ion-item>

                  <!-- Address -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Registered Address
                      <span
                        class="danger"
                        *ngIf="profileForm.get('address')?.touched && profileForm.get('address')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="address"></ion-input>
                  </ion-item>

                  <!-- Email -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Email
                      <span
                        class="danger"
                        *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.errors"
                      >
                        <span
                          *ngIf="profileForm.get('email')?.errors?.['required']"
                          >*</span
                        >
                        <span
                          *ngIf="profileForm.get('email')?.errors?.['email']"
                          >*</span
                        >
                      </span>
                    </ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                  </ion-item>

                  <!-- Bank Details -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Bank Account Details
                      <span
                        class="danger"
                        *ngIf="profileForm.get('bankDetails')?.touched && profileForm.get('bankDetails')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="bankDetails"></ion-input>
                  </ion-item>
                  <!-- <ion-text
                    color="danger"
                    *ngIf="profileForm.get('bankDetails')?.touched && profileForm.get('bankDetails')?.errors"
                  >
                    Bank details are required
                  </ion-text> -->

                  <!-- Currency -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Currency
                      <span
                        class="danger"
                        *ngIf="profileForm.get('currency')?.touched && profileForm.get('currency')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="currency"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>

              <!-- RIGHT COLUMN -->
              <ion-col class="right-col" size="6">
                <ion-list lines="none">
                  <!-- Phone -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Contact Phone Number
                      <span
                        class="danger"
                        *ngIf="profileForm.get('phone')?.touched && profileForm.get('phone')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input type="tel" formControlName="phone"></ion-input>
                  </ion-item>

                  <!-- Primary Contact -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Primary Contact Name
                      <span
                        class="danger"
                        *ngIf="profileForm.get('primaryContact')?.touched && profileForm.get('primaryContact')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="primaryContact"></ion-input>
                  </ion-item>

                  <!-- GST -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Tax / GST Number
                      <span
                        class="danger"
                        *ngIf="profileForm.get('gst')?.touched && profileForm.get('gst')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="gst"></ion-input>
                  </ion-item>

                  <!-- Time Zone -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Time Zone
                      <span
                        class="danger"
                        *ngIf="profileForm.get('timeZone')?.touched && profileForm.get('timeZone')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="timeZone"></ion-input>
                  </ion-item>

                  <!-- Postal Code -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Postal Code
                      <span
                        class="danger"
                        *ngIf="profileForm.get('postalCode')?.touched && profileForm.get('postalCode')?.errors"
                      >
                        *
                      </span>
                    </ion-label>
                    <ion-input formControlName="postalCode"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Submit Button -->
          <ion-button
            color="Primary"
            expand="block"
            type="submit"
            [disabled]="profileForm.invalid"
            fill="clear"
          >
            Submit for Approval
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
